@import '../../utils/scss/global.scss';

.userlist-container {
  @extend .wrapper;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  margin-top: 3.125rem;
  grid-row-gap: 1.25rem;
  grid-column-gap: 6.25rem;
}

.name {
  font-size: 1.6875rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1.25rem;
}

.userItem-container {
  display: flex;
  gap: 1.25rem;
}

.img-size {
  width: 80px;
  height: 75px;
}
